*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
library/http/build/generated/assets/
library/http/build/generated/res/
library/http/build/generated/source/aidl/
library/http/build/generated/source/apt/
library/http/build/generated/source/rs/
library/http/build/intermediates/annotations/
library/http/build/intermediates/bundles/debug/aidl/
library/http/build/intermediates/bundles/debug/assets/
library/http/build/intermediates/bundles/default/aidl/
library/http/build/intermediates/bundles/default/assets/
library/http/build/intermediates/bundles/default/jni/
library/http/build/intermediates/bundles/default/libs/
library/http/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/http/build/intermediates/incremental/packageDebugAndroidTest/
library/http/build/intermediates/incremental/processDebugAndroidTestResources/
library/http/build/intermediates/incremental/processDebugResources/
library/http/build/intermediates/incremental/processReleaseResources/
library/http/build/intermediates/jniLibs/
library/http/build/intermediates/lint/
library/http/build/intermediates/manifest/tmp/
library/http/build/intermediates/rs/
library/http/build/intermediates/shaders/
library/http/build/intermediates/transforms/mergeJavaRes/
library/http/build/intermediates/transforms/mergeJniLibs/
library/http/build/tmp/
